Verification
============

**Verification التحقيق**

1. There is no action like verification.

> 1ـ لاعَمَلَ كَالتَّحْقِيقِ.

2. There is no practice better than verification.

> 2ـ لاسُنَّـةَ أفْضَلُ مِنَ التَّحْقِيقِ.


